@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

}

.outer {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
}

.inner {
    background-color: powderblue;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    color: black;
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}


.input {

    width: 200px;
    margin-left: 30px;
}

.button {
    background-color: pink;
    border: 1px solid #777;
    border-radius: 1px;
    font-family: inherit;
    font-size: 21px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 50px;

}

.box {
    width: 300px;
}

.box1 {
    width: 150px;
}
